body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: rgb(207, 206, 206);
}

h1 {
    border-bottom: 1px solid rgb(133, 133, 133);
    padding: 20px;
    margin-left: 260px;
    margin-right: 260px;
}

#startButton {
    background-color: rgb(88, 87, 87);
    font-size: 24px;
    padding: 10px 10px;
    border-radius: 50%;
    height: 310px;
    width: 310px;
    cursor: pointer;
    border: none;
}

#startButton:hover {
    background:  rgb(122, 124, 124);
  }

#endButton {
    background-color: pink;
    padding: 10px 10px;
    border-radius: 50%;
    height: 310px;
    width: 310px;
    cursor: pointer;
    border: none;
}

#now_yet {
    font-size: 24px;
    margin-top: 20px;
    width: 220px;
    align-items: center;
    margin: auto;
}

#reactiontime {
    font-size: 18px;
}

#endButton {
    display: none;
}